<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body class="flex flex-col min-h-screen">
  <%- include('./partials/header') %>
  <% if (success.length > 0) { %>
  <div id="flash-message" class="fixed top-5 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-blue-500">
    <span class="inline-block text-white"> <%= success %> </span>
  </div>
  <script>
    setTimeout(function () {
      const flashMessage = document.getElementById("flash-message");
      if (flashMessage) flashMessage.style.display = "none";
    }, 2000);
  </script>
  <% } %>
  <div class="container mx-auto px-4 py-5 flex-grow">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
        <div class="flex flex-col">
          <a href="/owners/createproduct" class="mb-2 mt-10">All Products</a>
        </div>
      </div>
      <div class="w-full md:w-3/4 px-2">
        <div class="bg-white p-5 shadow rounded">
          <h2 class="text-xl font-bold mb-4 mt-6">Create New Product</h2>
          <form action="/products/create" method="post" enctype="multipart/form-data">
            <div class="mb-6">
              <h3 class="text-lg font-semibold mb-2">Product Details</h3>
              <div class="mb-4">
                <label class="block mb-2 font-medium">Product Image</label>
                <input type="file" name="image" class="py-2 px-4 rounded">
              </div>
              <div class="md:flex md:space-x-4">
                <input type="text" name="name" placeholder="Product Name" class="border p-2 rounded w-full mb-4 md:mb-0">
                <input type="text" name="price" placeholder="Product Price" class="border p-2 rounded w-full mb-4 md:mb-0">
                <input type="text" name="discount" placeholder="Discount Price" class="border p-2 rounded w-full">
              </div>
            </div>
            <div>
              <h3 class="text-lg font-semibold mb-2">Panel Details</h3>
              <div class="md:flex md:space-x-4">
                <input type="text" name="bgcolor" placeholder="Background Color" class="border p-2 rounded w-full mb-4 md:mb-0">
                <input type="text" name="panelcolor" placeholder="Panel Color" class="border p-2 rounded w-full mb-4 md:mb-0">
                <input type="text" name="textcolor" placeholder="Text Color" class="border p-2 rounded w-full">
              </div>
            </div>
            <input type="submit" value="Create New Product" class="px-5 py-2 rounded mt-3 bg-blue-500 text-white cursor-pointer hover:bg-blue-600">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>